@import "../styles.css";

a.socialLink > img.socialIconLink{
    margin: 10px;
    width: 30px;
    filter: grayscale(1) brightness(1.5);
    transform: translateY(0px);
    transition: all 0.2s;
}
a.socialLink:hover > img.socialIconLink{
    filter: grayscale(0) brightness(1.2);
    transform: translateY(-2px);
}